docling==2.80.0
latex2mathml==3.78.0
# pdfix-sdk==8.7.10
pdfix-sdk @ https://dl.pdfix.net/builds/pdfix-sdk/master/a3ba0e5b1078b78b43b113081fc439f5ce22f295/python/pdfix_sdk-8.7.17-py3-none-any.whl
requests==2.32.4
types-requests==2.32.0.20250515
