docling==2.90.0
latex2mathml==3.78.0
pillow==12.2.0
# pdfix-sdk==8.8.0
pdfix-sdk @ https://dl.pdfix.net/builds/pdfix-sdk/release/v8.8.0/73d1a0f5963252ea737a441ba48ccbdd1b73ad0d/python/pdfix_sdk-8.8.0-py3-none-any.whl
transformers==5.5.3
types-requests==2.33.0.20260408
